


.article-img {
    width: 500px;
    height: 400px;
} 

body {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0px;
}

.centered {
  text-align: center;
}


img {
  border-radius: 5px;
}



nav a {
  color: black;
  padding: 10px;
}